<div class="h-100">
  <div class="d-flex justify-content-center h-100">
    <div class="user_card">
      <div class="d-flex justify-content-center">
        <div class="brand_logo_container">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqRe34P0nKF0Euaz4DLlj3WN4rcAuZGHnUicHoa8B2V5AqgEGfK3eX9ZekUcX3e_jRlm8&usqp=CAU"
            class="brand_logo" alt="Logo">
        </div>
      </div>
      <div class=" form_container">

        <form class="" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="input-group mb-4 mt-2">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fa fa-user"></i></span>
            </div>
            <input type="text" class="form-control input_user" formControlName="name" placeholder='name'
              [ngClass]="{ 'is-invalid': (isFormSubmitted && ((registerForm.controls['name'].errors) || (!registerForm.controls['name'].pristine && registerForm.controls['name'].invalid)) )}" />
            <div class="invalid-feedback"
              *ngIf="(isFormSubmitted && (registerForm.controls['name'].errors) || (!registerForm.controls['name'].pristine && registerForm.controls['name'].invalid))">
              <div *ngIf="registerForm.controls['name'].errors?.required">Name is required</div>
              <div *ngIf="registerForm.controls['name'].errors?.minlength">Minium 4 characters length required</div>

              <div *ngIf="registerForm.controls['name'].errors?.pattern">Enter valid Name</div>
            </div>
          </div>
          <div class="input-group mb-4 mt-2">
            <div class="input-group-append">
              <span class="input-group-text "><i class="fa fa-envelope"></i></span>
            </div>
            <input type="Email" name="" class="form-control input_user" placeholder="Email" formControlName='email'
              name='email'
              [ngClass]="{ 'is-invalid': (isFormSubmitted && ((registerForm.controls['email'].errors) || (!registerForm.controls['email'].pristine && registerForm.controls['email'].invalid) ))}">
            <div class="invalid-feedback"
              *ngIf="(isFormSubmitted && registerForm.controls['email'].errors) || (!registerForm.controls['email'].pristine && registerForm.controls['email'].invalid)">
              <div *ngIf="registerForm.controls['email'].errors?.required">Email is required</div>
              <div *ngIf="registerForm.controls['email'].errors?.pattern">Enter valid email</div>

            </div>
          </div>
          <div class="input-group mb-4">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fa fa-key"></i></span>
            </div>
            <input type="password" name="password" class="form-control input_pass" placeholder="password"
              formControlName="password"
              [ngClass]="{ 'is-invalid': (isFormSubmitted && ((registerForm.controls['password'].errors) || (!registerForm.controls['password'].pristine && registerForm.controls['password'].invalid))) }">
            <div class="invalid-feedback"
              *ngIf="(isFormSubmitted && registerForm.controls['password'].errors) || (!registerForm.controls['password'].pristine && registerForm.controls['password'].invalid)">
              <div *ngIf="registerForm.controls['password'].errors?.required">Password is required</div>
              <div *ngIf="registerForm.controls['password'].errors?.minlength">Minimum 6 characters required</div>
            </div>
          </div>
          <div class="input-group mb-4">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fa fa-check"></i></span>
            </div>
            <input type="password" name="password_confirmation" class="form-control input_pass"
              placeholder="password_confirmation" formControlName="password_confirmation"
              [ngClass]="{ 'is-invalid': (isFormSubmitted && ((registerForm.controls['password_confirmation'].errors) || (!registerForm.controls['password_confirmation'].pristine && registerForm.controls['password_confirmation'].invalid))) }">
              <div class="invalid-feedback"
              *ngIf="(isFormSubmitted && registerForm.controls['password_confirmation'].errors) || (!registerForm.controls['password_confirmation'].pristine && registerForm.controls['password_confirmation'].invalid)">
              <div *ngIf="registerForm.controls['password_confirmation'].errors?.required">Password is required</div>
              <div *ngIf="registerForm.controls['password_confirmation'].errors?.confirmedValidator">Password and Confirm Password must be match.</div>
            </div>
          </div>
          <div class="d-flex justify-content-center mt-3 login_container">
            <button type="submit" name="button" class="btn login_btn">Register</button>
          </div>
        </form>
      </div>

      <div class="mt-4">
        <div class="d-flex justify-content-center links">
          Have an account? <a routerLink="/login" class="ml-2">Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
